[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.1"
pyodbc = "==4.0.35"
requests = "==2.31.0"
sqlalchemy = "==1.4.46"
xmltodict = "==0.13.0"

[dev-packages]

[requires]
python_version = "3.11"
